<div class="new-div">
  <h3 class="new-title">New Recipe</h3>
  <%= form_tag recipes_path, :id => 'new_recipe' do %>
    <label>Recipe title:</label><br>
    <%= text_field_tag :'recipe[title]', "", class: 'form-title' %><br>

    <label>Recipe description:</label><br>
    <%= text_area_tag :'recipe[description]', "", class: 'form-text-area' %><br>

    <label>Recipe instructions:</label><br>
    <%= text_area_tag :'recipe[instructions]', "", class: 'form-text-area' %><br>

    <label>Category:</label><br>
    <%= form_for @recipe do |f|%>
      <%= f.collection_select :category_id, @categories, :id, :name %>
    <%= submit_tag "Submit Recipe" %>
    <% end %>
  <% end %>
</div>
