<!-- Welcome Body -->
<main>
  <!-- Landing Area -->
  <!-- Categories -->
<div class="img-css" id="img-tag"><img id="img-url" src="./assets/breakfast.jpg" alt="">
</div>
  <div class="caption">
    <h3><%= link_to @categories[0].name, category_path(@categories[0].id), :data => {:id => @categories[0].id}, :class => 'caption-text' %></h3>
    <p> Number of recipes: <span class="number-recipes"><%= @categories[1].recipes.length%></span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
    </p>
  </div>
  <div class="img-css" id="img-tag"><img id="img-url" src="./assets/lunch.jpg" alt="">
  </div>
  <div class="caption">
    <h3 ><%= link_to @categories[1].name, category_path(@categories[1].id), :class => 'caption-text', :data => {:id => @categories[1].id} %></h3>
    <p> Number of recipes: <span class="number-recipes"><%= @categories[1].recipes.length%></span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
    </p>
  </div>
  <div class="img-css" id="img-tag"><img id="img-url" src="./assets/dinner.jpg" alt="">
  </div>
  <div class="caption">
    <h3 ><%= link_to @categories[2].name, category_path(@categories[2].id), :class => 'caption-text', :data => {:id => @categories[2].id} %></h3>
    <p> Number of recipes: <span class="number-recipes"><%= @categories[2].recipes.length%></span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
    </p>
  </div>
  <div class="img-css" id="img-tag"><img id="img-url" src="./assets/salads-sides2.jpg" alt="">
  </div>
  <div class="caption">
    <h3><%= link_to @categories[3].name, category_path(@categories[3].id), :class => 'caption-text', :data => {:id => @categories[3].id} %></h3>
    <p> Number of recipes: <span class="number-recipes"><%= @categories[1].recipes.length%></span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
    </p>
  </div>
  <div class="img-css" id="img-tag"><img id="img-url" src="./assets/desserts.jpg" alt="">
  </div>
  <div class="caption">
    <h3><%= link_to @categories[4].name, category_path(@categories[4].id), :class => 'caption-text', :data => {:id => @categories[4].id} %></h3>
    <p> Number of recipes: <span class="number-recipes"><%= @categories[4].recipes.length%></span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
    </p>
  </div>
</main>
